.about{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    height: calc(100vh - 80px);
    position: relative;
    gap: 6rem;
}

.shift-up > h4{
font-weight: 100;
margin-bottom: 1rem;
text-transform: uppercase;
}


.shift-up > h2{
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 4rem;
    }

.about-bottom{
    /* height: 30%; */
    width: 50%;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}