.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 80px);
  width: 80%;
  margin: 0 auto;
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1.5rem;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.home-right h1 {
  font-size:5rem;
  font-weight: 600;
  /* margin-bottom: 2rem; */
}

.home-right h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.home-right h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.gradient {
  /* font-weight: 500; */
  background: -webkit-linear-gradient(180deg, #c45d5d, #e02424);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-socials {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.home-right-btn{   
    margin-top: 2rem;
    background-color: var(--red);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.side-effect{
  /* transform: rotate(90deg); */
  font-size: 36rem;
  color: #0c1616;
}