nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;
  font-size: 1.2rem;
  height: 80px;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 700;
}

.nav-center > ul {
  display: flex;
}

.nav-center > ul > li {
  list-style: none;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-center > ul > li > a {
  color: var(--white);
  text-decoration: none;
}
