.footer {
  margin-top: auto;
  text-align: center;
}

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}
