.footer-problem {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--red);
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--red);
  transform-origin: top;
}

.transition-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:var(--accent); /* Adjust text color */
  font-size: 30rem; /* Adjust font size */
  text-align: center; /* Ensure text is horizontally centered */
  line-height: 1; /* Adjust line height if needed */
  z-index: 1000; /* Ensure text is above other content */
}
