.portfolio-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.portfolio-items {
  display: flex;
  gap: 2rem;
  width: 80%;
}

.portfolio-item {
  flex: 1;
  background-color: var(--accent);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px); /* Lift on hover effect */
}

.portfolio-item img {
  width: 100%;
  object-fit: cover;
}

.portfolio-item-content {
  padding: 1rem;
}

.portfolio-item-content h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  height: 3rem;
}

.portfolio-item-content p {
  color: #666;
  margin-bottom: 1rem;
}

.portfolio-item-content a {
  display: inline-block;
  background-color: var(--background);
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.portfolio-item-content a:hover {
  background-color: var(--red); /* Darker shade on hover */
}

.more-works {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.more-works:hover {
  transform: translateY(-5px); /* Lift on hover effect */
}

@media only screen and (max-width: 768px) {
  .portfolio-items {
    flex-direction: column;
    gap: 1rem;
  }

  .portfolio-item {
    width: 100%;
  }

  .more-works {
    width: 100%;
    margin-bottom: 20px;
  }
}
